<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Home</h1>
<ul>
    <li><a href="/indexAddress">Address</a></li>
    <li><a href="/indexEvaluation">Evaluation</a></li>
    <li><a href="/indexNegotiable">Negotiable</a></li>
    <li><a href="/indexPerson">Person</a></li>
    <li><a href="/indexDistributor">Distributor</a></li>
    <li><a href="/indexLegalPerson">Legal Person</a></li>
    <li><a href="/indexPhysicalPerson">Physical Person</a></li>
    <li><a href="/indexTelephone">Telephone</a></li>
</ul>
</body>
</html>