<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Distributor List</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
<div class="container" align="center">
  <h3>Distributor List</h3>
  <a th:href="@{/addNewDistributor}" class="btn btn-primary btn-sm btn-mb-3">Add Distributor</a>
  <table style="width: 80%" border="1" class="table table-stripped table-responsive-md">
    <thead>
    <tr>
      <th>Coverage Area</th>
      <th>Location</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="distributor : ${allDistributorList}">
      <td th:text="${distributor.coverageArea}"></td>
      <td th:text="${distributor.location}"></td>
      <td th:text="${distributor.type}"></td>
      <td>
        <a th:href="@{/showFormForUpdateDistributor/{id}(id=${distributor.id})}" class="btn btn-primary">Update</a>
        <a th:href="@{/deleteDistributor/{id}(id=${distributor.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/home}">Back to Home</a>
</div>
</body>
</html>
